.footer{
    background-color: $black-333;
    padding: 30px 0;
    
}
.first-row-footer{
    display: flex;
    align-items: start;
    padding-bottom: 20px;
     &:last-child{
        border-bottom: 2px solid white;
     }
 
    .first-footer{
        padding: 10px;
        list-style: none;
        margin: 0;
        li{
            padding: 5px 0;
            &:first-child{
                padding-bottom: 20px;
                border-bottom: 1.2px solid white;
                margin-bottom: 10px;
            }
        }
        &:first-child{
            width: 40%;
        }
        &:nth-child(2){
            width: 20%;
        }
        &:nth-child(3){
            width: 20%;
        }
        &:last-child{
            width: 20%;
        }
    }
}


@media (max-width:900px) {
    .first-row-footer{
        flex-wrap: wrap;
        .first-footer{
            padding: 10px;
            li{
                padding: 5px 0;
                &:first-child{
                    padding-bottom: 10px;
                    border-bottom: 1.2px solid white;
                    margin-bottom: 10px;
                }
            }
            &:first-child{
                width: 100%;
                margin-bottom: 20px;
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                width: 50%;
            }
            &:nth-child(4){
                display: none;
            }
           
          
        }
    }
}